
<div style="background-color:#1A237E;color:#FFEB3B;padding:20px;border:1px solid #3F51B5;text-align:center;">
<p><font size="14" color=#FFF9C4 face="Lora"><i> Python Data Structures </i></font> </p>
</div>

1. List
2. Tuple
3. Set
4. Dictionary

In [84]:
# get the output of commands in a cell with out print
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

## List
1. Written with [] braces.
2. Indexing is allowed and so the ordering of the data.
3. Data is changeable (mutable).
4. Duplicates are allowed.

In [2]:
# create a list object 

mystr_list = ["black", "white", "grey", "silver", "maroon"]

mynum_list = [10,20,30,40,50]

In [3]:
print(mystr_list, mynum_list, sep ='\n')

print(type(mystr_list), type(mynum_list), sep ='\n')

['black', 'white', 'grey', 'silver', 'maroon']
[10, 20, 30, 40, 50]
<class 'list'>
<class 'list'>

## List Indexing
**Syntax:**

list_name[index num]

In [2]:
mylist1 = ["black", "white", "grey", "silver", 
           "maroon", 10,20,30,40,50, True, False, 
           15.5,100.25]

In [3]:
len(mylist1)

14

+ index numbers can be +ve/-ve
+ +ve Index numbers always start with 0.
+ -ve Index numbers always end at -1.
+ First value will have the Index num : 0 or -(len(list))
+ Last value will have the Index num : -1 or len(list)-1
+ Indexing is done by using the operator - []
Say, "a" is a list variable

**a[index num]** - extracts the single value

**a[start:stop]** - items from starting position to stop-1, : is sequence operator.

**a[start:]** - items start through the rest of the array

**a[:stop]** - items from the beginning through stop-1

**a[:]** - a copy of the whole array

**a[::-1]** - reverse the list (here -1 is the step)

In [4]:
# a[index num] - extracts the single value

print("mylist1[2]: ", mylist1[2], type(mylist1[2]))
print("mylist1[12]: ", mylist1[12], type(mylist1[12]))
print("mylist1[10]: ", mylist1[10], type(mylist1[10]))
print("mylist1[8]: ", mylist1[8], type(mylist1[8]))

print('-'*50)

# extract the first value
print("mylist1[0]: ", mylist1[0])
print("mylist1[-len(mylist1)]: ", mylist1[-len(mylist1)])

# extract the last value
print("mylist1[-1]: ", mylist1[-1])
print("mylist1[len(mylist1)-1]: ", mylist1[len(mylist1)-1])

print('-'*50)

# a[start:stop] - ":" - colon is the sequence operator used for slicing
print('mylist1[0:1]: ', mylist1[0:1], type(mylist1[0:1]))
print('mylist1[0:2]: ', mylist1[0:2], type(mylist1[0:2]))
print('mylist1[7:10]: ', mylist1[7:10], type(mylist1[7:10]))
print('mylist1[11:14]: ', mylist1[11:14], type(mylist1[11:14]))
print('mylist1[7:len(mylist1)]: ', mylist1[7:len(mylist1)], type(mylist1[7:len(mylist1)]))

print('-'*50)
# a[start:]
print('mylist1[7:]: ', mylist1[7:])
print('mylist1[2:]: ', mylist1[2:])

# a[:stop]
print('mylist1[:7]: ', mylist1[:7])
print('mylist1[:len(mylist1)]: ', mylist1[:len(mylist1)])

print('-'*50)

# a[:]
print('mylist1[:]:', mylist1[:])

print('-'*50)
# a[start:end:step] - where step is the increment of position; by default step = 1
print('mylist1[2:10:2]:', mylist1[2:10:2])
print('mylist1[::1]:', mylist1[::1])
print('mylist1[::2]:', mylist1[::2])
print('mylist1[::3]:', mylist1[::3])
print('mylist1[::]:', mylist1[::])

print('-'*50)
# reversing the list
print('mylist1[::-1]:', mylist1[::-1])
print('mylist1[::-2]:', mylist1[::-2]) # first reverse the list and pick every second word
print('mylist1[::-3]:', mylist1[::-3])

print('-'*50)
# Using both +ve & -ve indexing numbers
print('mylist1[0:-8:]:', mylist1[0:-8:])
print('mylist1[-6:1]:', mylist1[-6:1]) # reverse direction doesn't work

print('-'*50)
# using -ve index numbers
print('mylist1[-7:-1]:', mylist1[-7:-1])
print('mylist1[-7:]:', mylist1[-7:])
print('mylist1[-7::-1]:', mylist1[-7::-1])

print('-'*50)
# multi level indexing
print('mylist1[2:7][2][1]: ', mylist1[2:7][2][1])

mylist1[2]:  grey <class 'str'>
mylist1[12]:  15.5 <class 'float'>
mylist1[10]:  True <class 'bool'>
mylist1[8]:  40 <class 'int'>
--------------------------------------------------
mylist1[0]:  black
mylist1[-len(mylist1)]:  black
mylist1[-1]:  100.25
mylist1[len(mylist1)-1]:  100.25
--------------------------------------------------
mylist1[0:1]:  ['black'] <class 'list'>
mylist1[0:2]:  ['black', 'white'] <class 'list'>
mylist1[7:10]:  [30, 40, 50] <class 'list'>
mylist1[11:14]:  [False, 15.5, 100.25] <class 'list'>
mylist1[7:len(mylist1)]:  [30, 40, 50, True, False, 15.5, 100.25] <class 'list'>
--------------------------------------------------
mylist1[7:]:  [30, 40, 50, True, False, 15.5, 100.25]
mylist1[2:]:  ['grey', 'silver', 'maroon', 10, 20, 30, 40, 50, True, False, 15.5, 100.25]
mylist1[:7]:  ['black', 'white', 'grey', 'silver', 'maroon', 10, 20]
mylist1[:len(mylist1)]:  ['black', 'white', 'grey', 'silver', 'maroon', 10, 20, 30, 40, 50, True, False, 15.5, 100.25]
--------------------------------------------------
mylist1[:]: ['black', 'white', 'grey', 'silver', 'maroon', 10, 20, 30, 40, 50, True, False, 15.5, 100.25]
--------------------------------------------------
mylist1[2:10:2]: ['grey', 'maroon', 20, 40]
mylist1[::1]: ['black', 'white', 'grey', 'silver', 'maroon', 10, 20, 30, 40, 50, True, False, 15.5, 100.25]
mylist1[::2]: ['black', 'grey', 'maroon', 20, 40, True, 15.5]
mylist1[::3]: ['black', 'silver', 20, 50, 15.5]
mylist1[::]: ['black', 'white', 'grey', 'silver', 'maroon', 10, 20, 30, 40, 50, True, False, 15.5, 100.25]
--------------------------------------------------
mylist1[::-1]: [100.25, 15.5, False, True, 50, 40, 30, 20, 10, 'maroon', 'silver', 'grey', 'white', 'black']
mylist1[::-2]: [100.25, False, 50, 30, 10, 'silver', 'white']
mylist1[::-3]: [100.25, True, 30, 'maroon', 'white']
--------------------------------------------------
mylist1[0:-8:]: ['black', 'white', 'grey', 'silver', 'maroon', 10]
mylist1[-6:1]: []
--------------------------------------------------
mylist1[-7:-1]: [30, 40, 50, True, False, 15.5]
mylist1[-7:]: [30, 40, 50, True, False, 15.5, 100.25]
mylist1[-7::-1]: [30, 20, 10, 'maroon', 'silver', 'grey', 'white', 'black']
--------------------------------------------------
mylist1[2:7][2][1]:  a

In [7]:
print(mylist1)

['black', 'white', 'grey', 'silver', 'maroon', 10, 20, 30, 40, 50, True, False, 15.5, 100.25]

In [8]:
print(mylist1[2:7][2][1])

print(mylist1[2:7], type(mylist1[2:7]))
print(mylist1[2:7][2], type(mylist1[2:7][2]))
print(mylist1[2:7][2][1])

a
['grey', 'silver', 'maroon', 10, 20] <class 'list'>
maroon <class 'str'>
a

In [9]:
mynum_list[2:5]
mynum_list[2:5][2]
mynum_list[2:5][2][1]

[30, 40, 50]

50

TypeError: 'int' object is not subscriptable

## List items are changeable/mutable

In [10]:
mynum_list

[10, 20, 30, 40, 50]

In [11]:
mynum_list[3] = 4000 # item assignment is supported

In [12]:
mynum_list

[10, 20, 30, 4000, 50]

In [13]:
mystr_list[1] = mystr_list[1].upper()

In [14]:
mystr_list

['black', 'WHITE', 'grey', 'silver', 'maroon']

## Duplicate values are allowed

In [15]:
mynum_list = [10, 20, 300, 40, 50,10, 20, 300, 40, 50]

In [16]:
mynum_list

[10, 20, 300, 40, 50, 10, 20, 300, 40, 50]

In [17]:
mystr_list = ['black', 'WHITE', 'grey', 'silver', 'WHITE', 'grey', 'silver', 'maroon']

In [18]:
mystr_list

['black', 'WHITE', 'grey', 'silver', 'WHITE', 'grey', 'silver', 'maroon']

## Nested List

In [20]:
mylist2 = [['white', 'grey', 'silver'], [2022,2023,2024],
           '22-04-2022',[ True, False]]

In [21]:
len(mylist2)

4

In [22]:
print(mylist2[0],type(mylist2[0]))
print(mylist2[0][0],type(mylist2[0][0]))
print(mylist2[0:3],type(mylist2[0:3]))
print(mylist2[0:3][1][2],type(mylist2[0:3][1][2]))
print(mylist2[2],type(mylist2[2]))
print(mylist2[3],type(mylist2[3]))
print(mylist2[0][2][::-1])

['white', 'grey', 'silver'] <class 'list'>
white <class 'str'>
[['white', 'grey', 'silver'], [2022, 2023, 2024], '22-04-2022'] <class 'list'>
2024 <class 'int'>
22-04-2022 <class 'str'>
[True, False] <class 'list'>
revlis

In [23]:
print(mylist2[0][1],mylist2[3][0])

print([mylist2[0][1],mylist2[3][0]])
type([mylist2[0][1],mylist2[3][0]])

grey True
['grey', True]

list

In [24]:
type(mylist2[0][1],mylist2[3][0])

TypeError: type() takes 1 or 3 arguments

## Common errors in Indexing

In [25]:
mylist2[7]

IndexError: list index out of range

In [26]:
mynum_list[2.5]

TypeError: list indices must be integers or slices, not float

## List Methods

In [27]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [28]:
# usage of str methods
r'Python Programming'.upper()
'Python Programming'.upper()

str1 = 'Python Programming'
str1.upper()

'PYTHON PROGRAMMING'

'PYTHON PROGRAMMING'

'PYTHON PROGRAMMING'

### List Methods
 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort'

#### 1.append()

In [29]:
print(mystr_list)

['black', 'WHITE', 'grey', 'silver', 'WHITE', 'grey', 'silver', 'maroon']

In [30]:
# append a single value - str/int/float/bool/date

# Append object to the end of the list.
mystr_list.append(2022)
mystr_list.append('RED')

In [31]:
print(mystr_list)

['black', 'WHITE', 'grey', 'silver', 'WHITE', 'grey', 'silver', 'maroon', 2022, 'RED']

In [32]:
mystr_list.append(['red','BLUE','Green'])

newlist = ['red','BLUE','Green']
mystr_list.append(newlist)

In [33]:
print(mystr_list)

['black', 'WHITE', 'grey', 'silver', 'WHITE', 'grey', 'silver', 'maroon', 2022, 'RED', ['red', 'BLUE', 'Green'], ['red', 'BLUE', 'Green']]

#### 2. copy()

In [34]:
# create a list from an existing list

mystr_list_new = mystr_list

In [35]:
print(mystr_list_new, mystr_list, sep = '\n\n')

['black', 'WHITE', 'grey', 'silver', 'WHITE', 'grey', 'silver', 'maroon', 2022, 'RED', ['red', 'BLUE', 'Green'], ['red', 'BLUE', 'Green']]

['black', 'WHITE', 'grey', 'silver', 'WHITE', 'grey', 'silver', 'maroon', 2022, 'RED', ['red', 'BLUE', 'Green'], ['red', 'BLUE', 'Green']]

In [36]:
mystr_list_new.append('YELLOW')

In [37]:
print(mystr_list_new, mystr_list, sep = '\n\n')

['black', 'WHITE', 'grey', 'silver', 'WHITE', 'grey', 'silver', 'maroon', 2022, 'RED', ['red', 'BLUE', 'Green'], ['red', 'BLUE', 'Green'], 'YELLOW']

['black', 'WHITE', 'grey', 'silver', 'WHITE', 'grey', 'silver', 'maroon', 2022, 'RED', ['red', 'BLUE', 'Green'], ['red', 'BLUE', 'Green'], 'YELLOW']

In [38]:
print(id(mystr_list_new), id(mystr_list), sep = '\n\n')

1888094703232

1888094703232

In [39]:
# using copy()

mystr_list_new = mystr_list.copy()

In [40]:
print(id(mystr_list_new), id(mystr_list), sep = '\n\n')

1888095365824

1888094703232

#### 3. count()

In [41]:
mystr_list.count(2023)

0

In [42]:
mystr_list.count('RED')

1

In [43]:
mystr_list.count('silver')

2

#### 4. extend()

In [44]:
newlist = ['red','BLUE','Green']
mystr_list.extend(newlist)

In [45]:
print(mystr_list)

['black', 'WHITE', 'grey', 'silver', 'WHITE', 'grey', 'silver', 'maroon', 2022, 'RED', ['red', 'BLUE', 'Green'], ['red', 'BLUE', 'Green'], 'YELLOW', 'red', 'BLUE', 'Green']

#### 5.index()

In [46]:
mystr_list.index('red') # Return first index of value.

13

In [47]:
mystr_list.index('silver') # Return first index of value.
mystr_list.index('silver', 4) # second index of value.

3

6

In [48]:
mystr_list.index('silver', 7)

ValueError: 'silver' is not in list

#### 6. insert()

In [49]:
mystr_list.insert(0, 'ORANGE') # Insert object before index.

In [50]:
print(mystr_list)

['ORANGE', 'black', 'WHITE', 'grey', 'silver', 'WHITE', 'grey', 'silver', 'maroon', 2022, 'RED', ['red', 'BLUE', 'Green'], ['red', 'BLUE', 'Green'], 'YELLOW', 'red', 'BLUE', 'Green']

In [51]:
mystr_list.insert(11, 'ORANGE')

In [52]:
print(mystr_list)

['ORANGE', 'black', 'WHITE', 'grey', 'silver', 'WHITE', 'grey', 'silver', 'maroon', 2022, 'RED', 'ORANGE', ['red', 'BLUE', 'Green'], ['red', 'BLUE', 'Green'], 'YELLOW', 'red', 'BLUE', 'Green']

In [5]:
mystr_list.insert('PURPLE')

NameError: name 'mystr_list' is not defined

#### 7. pop()

In [54]:
mystr_list.pop() # Remove and return item at index (default last).

'Green'

In [55]:
mystr_list.pop(0)

'ORANGE'

In [56]:
print(mystr_list)

['black', 'WHITE', 'grey', 'silver', 'WHITE', 'grey', 'silver', 'maroon', 2022, 'RED', 'ORANGE', ['red', 'BLUE', 'Green'], ['red', 'BLUE', 'Green'], 'YELLOW', 'red', 'BLUE']

#### 8. remove()

In [57]:
mystr_list.remove('silver') # Remove first occurrence of value.

In [58]:
print(mystr_list)

['black', 'WHITE', 'grey', 'WHITE', 'grey', 'silver', 'maroon', 2022, 'RED', 'ORANGE', ['red', 'BLUE', 'Green'], ['red', 'BLUE', 'Green'], 'YELLOW', 'red', 'BLUE']

#### 9. reverse()

In [59]:
mystr_list.reverse() # Reverse *IN PLACE*. reverses the list and store the output into the same variable

In [60]:
print(mystr_list)

['BLUE', 'red', 'YELLOW', ['red', 'BLUE', 'Green'], ['red', 'BLUE', 'Green'], 'ORANGE', 'RED', 2022, 'maroon', 'silver', 'grey', 'WHITE', 'grey', 'WHITE', 'black']

#### 10. sort()

In [61]:
mystr_list.sort()

TypeError: '<' not supported between instances of 'list' and 'str'

In [62]:
mystr_list.sort(key = str)

In [63]:
print(mystr_list)

[2022, 'BLUE', 'ORANGE', 'RED', 'WHITE', 'WHITE', 'YELLOW', ['red', 'BLUE', 'Green'], ['red', 'BLUE', 'Green'], 'black', 'grey', 'grey', 'maroon', 'red', 'silver']

In [64]:
newlist = ['black', 'grey', 'grey', 'maroon', 'red', 'silver']

In [65]:
newlist.sort()
print(newlist)
newlist.sort(reverse=True)
print(newlist)

['black', 'grey', 'grey', 'maroon', 'red', 'silver']
['silver', 'red', 'maroon', 'grey', 'grey', 'black']

#### 11. clear()

In [66]:
mystr_list.clear()
print(mystr_list)

[]

## Empty list

In [67]:
list1 = [] # this is an empty list

In [68]:
print(list1)

[]

In [69]:
list1.append(100)

In [70]:
print(list1)

[100]

### Operators on List
Operators like `+` and `*` on lists work in the similar way of strings.

`+` - Concatenation. `*` - Repetition.

Membership operator works on list as well with keywords - `in` and `not in`.

In [71]:
newlist = ['black', 'grey', 'grey', 'maroon', 'red', 'silver']
list1 = [10,20,30,40,50]

In [72]:
print(newlist + list1)

['black', 'grey', 'grey', 'maroon', 'red', 'silver', 10, 20, 30, 40, 50]

In [73]:
print(list1*3)

[10, 20, 30, 40, 50, 10, 20, 30, 40, 50, 10, 20, 30, 40, 50]

In [74]:
50 in list1

True

In [75]:
'red' not in newlist

False

### Built-in List Functions

In [76]:
# len()
len(newlist)

# min() & max()
min(list1)
max(list1)

# create a list using "range" function
range(1,101)

# list() - converts an iterable into a list object
print(list(range(1,101,10)))

# str to list 
x = list('PYTHON PROGRAM')
print(x)
# list to str 
'_'.join(x)
'.'.join(x)
''.join(x)

6

10

50

range(1, 101)

[1, 11, 21, 31, 41, 51, 61, 71, 81, 91]
['P', 'Y', 'T', 'H', 'O', 'N', ' ', 'P', 'R', 'O', 'G', 'R', 'A', 'M']

'P_Y_T_H_O_N_ _P_R_O_G_R_A_M'

'P.Y.T.H.O.N. .P.R.O.G.R.A.M'

'PYTHON PROGRAM'

### Tuple
- Written with `()` braces.
- Indexing is allowed.
- Data is unchangeable (immutable).
- Duplicates are allowed.

### Create a tuple

In [1]:
# A tuple can be created in two ways

# approach 1
tup1 = ("black", "white", "grey", "silver", "maroon")

# approach 2
tup2 = 10,20,30,40,50,50,10

# Duplicates are allowed

In [78]:
print(tup1, tup2, sep='\n')
print(type(tup1), type(tup2), sep='\n')

('black', 'white', 'grey', 'silver', 'maroon')
(10, 20, 30, 40, 50, 50, 10)
<class 'tuple'>
<class 'tuple'>

### Tuple Indexing

In [79]:
print(tup1[1])
print(tup1[2])
print(tup1[2][1])
print(tup1[-1])
print(tup1[::-1])

white
grey
r
maroon
('maroon', 'silver', 'grey', 'white', 'black')

### Changing tuple items

In [80]:
tup1[2] = 'GREY'

TypeError: 'tuple' object does not support item assignment

### Tuple methods

In [81]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [82]:
tup2.count(10)

tup2.index(10)
tup2.index(10, 1)

2

0

6

### Operators on Tuple
Operators like` +` and `*` on tuple work in the similar way of strings.

`+` - Concatenation. `*` - Repetition.

Membership operator works on tuple as well with keywords - `in` and `not in`.

In [83]:
tup1+tup2

('black', 'white', 'grey', 'silver', 'maroon', 10, 20, 30, 40, 50, 50, 10)

In [84]:
print(tup1*2)

('black', 'white', 'grey', 'silver', 'maroon', 'black', 'white', 'grey', 'silver', 'maroon')

In [85]:
'grey' in tup1

True

In [86]:
'GREY' not in tup1

True

### Built-in Tuple functions

In [87]:
# len()
len(tup1)

# min() & max()
print(min(tup2), max(tup2))

# tuple() # Built-in immutable sequence.

# str to tuple
x = tuple('PYTHON PROGRAM')
print(x)
# tuple to str
''.join(x)
# help(str.join)


# tuple to list
x = list(tup2)
print(x)
x.sort()
print(x)

# list to tuple
x = tuple(x)
print(x)

5

10 50
('P', 'Y', 'T', 'H', 'O', 'N', ' ', 'P', 'R', 'O', 'G', 'R', 'A', 'M')

'PYTHON PROGRAM'

[10, 20, 30, 40, 50, 50, 10]
[10, 10, 20, 30, 40, 50, 50]
(10, 10, 20, 30, 40, 50, 50)

 > Iterable is an object which can be looped over or iterated over with the help of a for loop. Objects like lists, tuples, sets, dictionaries, strings, etc. are called iterables.

### Unpacking a Tuple

In [90]:
tup3 = 100,200
print(tup3, type(tup3))

(100, 200) <class 'tuple'>

In [91]:
# creating int variables from the above tuple

i = tup3[0]
j = tup3[1]

print(i,j, type(i), type(j))

# UNPCKING of a tuple

i,j = tup3
print(i,j, type(i), type(j))

100 200 <class 'int'> <class 'int'>
100 200 <class 'int'> <class 'int'>

In [92]:
tup4 = 10,20,30,40

In [93]:
i,j = tup4

ValueError: too many values to unpack (expected 2)

### Empty tuple

In [94]:
tup5 = ()

In [95]:
print(tup5)

()

In [96]:
tup5 = tup5 + (10,20)

In [97]:
print(tup5)

(10, 20)

### Create Tuple With One Item

In [98]:
x = (25) # this is nothing but x = 25

In [99]:
print(x, type(x))

25 <class 'int'>

In [100]:
x = (25,)

In [101]:
print(x, type(x))

(25,) <class 'tuple'>

In [10]:
# print the 'Student ID ' who scored highest marks

mydict4 = {'Student ID': [101,102,103,104,105], 'Marks': [85,99,95,66,78]}

print(max(mydict4))

mydict4['Student ID'][1]

Student ID

102

### Set

- Written with `{}` braces.
- Unindexed.
- Data is unchangeable (immutable). But we can add/remove data.
- Duplicates are not allowed.

### Create a Set

In [1]:
# Create a Set
set1 = {'black', 'white', 'grey', 'silver', 'maroon'}

In [2]:
# check the type

print(set1, type(set1), sep = '\n')

{'maroon', 'grey', 'silver', 'white', 'black'}
<class 'set'>

### Indexing a Set

In [3]:
set1[3]

TypeError: 'set' object is not subscriptable

### Changing the set items

In [4]:
set1[3] = 'WHITE'

TypeError: 'set' object does not support item assignment

### Try creating a set with Duplicates

In [5]:
set2 = {'black', 'white', 'grey', 'silver', 'maroon', 'black', 'white', 'grey'}

In [6]:
print(set2)

{'maroon', 'grey', 'silver', 'white', 'black'}

### Remove Duplicates from a list

In [8]:
x = ["black", "white", "grey", "silver", "maroon", 'white', 'black']
print(x)

['black', 'white', 'grey', 'silver', 'maroon', 'white', 'black']

In [9]:
x = set(x)
x = list(x)
print(x)

x = list(set(x))
print(x)

['maroon', 'white', 'black', 'grey', 'silver']
['maroon', 'white', 'black', 'grey', 'silver']

### Set methods

In [10]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [11]:
# add
# copy
# difference
# intersection
# union
# update
# isdisjoint
# issubset
# issuperset
# discard
# pop

set1 = {"black", "white", "gray", "silver", "maroon"}
set2 =  {"red", "purple", "fushsia", "green", "lime"}

### 1. add()

In [12]:
set1.add('green')

In [13]:
print(set1)

{'maroon', 'gray', 'silver', 'white', 'black', 'green'}

### 2. copy()

In [14]:
set3 = set1.copy()

In [15]:
print(set3, id(set3), id(set1), sep = '\n')

{'maroon', 'gray', 'silver', 'white', 'black', 'green'}
2027995974784
2027995974560

### 3. difference()

In [16]:
set1-set2

{'black', 'gray', 'maroon', 'silver', 'white'}

In [17]:
set2-set1

{'fushsia', 'lime', 'purple', 'red'}

### 4. intersection()

In [18]:
set1 & set2

{'green'}

In [19]:
set1.intersection(set2)

{'green'}

### 5. union()

In [20]:
print(set1 | set2)

{'maroon', 'fushsia', 'lime', 'white', 'black', 'green', 'red', 'gray', 'silver', 'purple'}

In [21]:
print(set1.union(set2))

{'maroon', 'fushsia', 'lime', 'white', 'black', 'green', 'red', 'gray', 'silver', 'purple'}

### 6. update()

In [22]:
set1.update('GREEN')

In [23]:
print(set1)

{'maroon', 'black', 'green', 'gray', 'G', 'E', 'white', 'silver', 'R', 'N'}

In [24]:
set2.update({'RED', 'BLUE'})

In [25]:
print(set2)

{'fushsia', 'lime', 'RED', 'BLUE', 'purple', 'green', 'red'}

### 7. isdisjoint()

In [26]:
set1.isdisjoint(set2)

False

### 8. issubset()

In [28]:
{'green', 'black'}.issubset(set1)

True

### 9. issuperset()

In [29]:
set1.issuperset({'green', 'black'})

True

### 10. discard()

In [30]:
set1.discard('Green')

# Remove an element from a set if it is a member.
# If the element is not a member, do nothing.

In [31]:
set1.discard('green')

In [32]:
print(set1)

{'maroon', 'black', 'gray', 'G', 'E', 'white', 'silver', 'R', 'N'}

### 11. pop()

In [33]:
set1.pop()

# Remove and return an arbitrary set element.
# Raises KeyError if the set is empty.

'maroon'

In [34]:
set1.pop()

'black'

In [35]:
print(set1)

{'gray', 'G', 'E', 'white', 'silver', 'R', 'N'}

### Operators on set

In [36]:
'white' in set2

False

In [37]:
'black' in set1

False

### Built-in functions on set

In [39]:
len(set1)

7

In [40]:
set5 = {10,100,200,300,25,500}

In [41]:
print(min(set5), max(set5))

10 500

In [42]:
# conversion
mylist1 = [10,20,30, 10, 20]
mytup1 = (10,20,30, 10)
mystr1 = 'PYTHON PROGRAM'

In [43]:
print(set(mylist1), set(mytup1), set(mystr1), sep = '\n')

{10, 20, 30}
{10, 20, 30}
{'Y', 'H', 'A', 'G', 'P', 'O', 'T', ' ', 'R', 'M', 'N'}

### Create a set using the `range`

In [44]:
range(10,30,5)

range(10, 30, 5)

In [45]:
list(range(10,30,5))
tuple(range(10,30,5))
set(range(10,30,5))

{10, 15, 20, 25}

In [4]:
print(list(range(10,30,5)))
print(tuple(range(10,30,5)))
print(set(range(10,30,5)))

[10, 15, 20, 25]
(10, 15, 20, 25)
{25, 10, 20, 15}

### Create an empty set

In [47]:
set6 = {}

In [48]:
print(set6, type(set6), sep = '\n') # this is a dictionary

{}
<class 'dict'>

In [49]:
set7 = set()

In [50]:
print(set7, type(set7), sep = '\n')

set()
<class 'set'>

In [51]:
set7.add('yellow')
print(set7)

{'yellow'}

## Dictionary
- Written with {} braces in the form {key:value}.
- Unordered and indexed using keys.
- Data is changeable (mutable).
- Duplicate keys are not allowed.

### Create a dictionary

In [52]:
mydict1 = {'Company': 'Google',
          'HQ':'California',
          'Products': 'Gmail'}

In [53]:
print(mydict1, type(mydict1), sep = '\n')

{'Company': 'Google', 'HQ': 'California', 'Products': 'Gmail'}
<class 'dict'>

In [54]:
mydict2 = {'Company': 'Google',
          'HQ':'California',
          'Products': ['Gmail','YouTube','Chrome', 'Drive']}

In [55]:
mydict2

{'Company': 'Google',
 'HQ': 'California',
 'Products': ['Gmail', 'YouTube', 'Chrome', 'Drive']}

In [56]:
# creating a table from dict
import pandas as pd

In [57]:
pd.DataFrame(mydict2)

  Company          HQ Products
0  Google  California    Gmail
1  Google  California  YouTube
2  Google  California   Chrome
3  Google  California    Drive

### Indexing a Dict

In [58]:
mydict2[1]

KeyError: 1

In [59]:
# indexing a dict is possible with keys
mydict2['Products'] # dict indexing
mydict2['Products'][2] # list indexing
mydict2['Products'][2][3] # string indexing

'o'

### Change the Data

In [60]:
mydict2['HQ'] = 'California, USA'

In [61]:
mydict2

{'Company': 'Google',
 'HQ': 'California, USA',
 'Products': ['Gmail', 'YouTube', 'Chrome', 'Drive']}

### Duplicates

In [62]:
mydict2['Products'] = ['Gmail', 'YouTube', 'Chrome', 'Drive', 'Gmail']

In [63]:
mydict2 # dupicate values are allowed

{'Company': 'Google',
 'HQ': 'California, USA',
 'Products': ['Gmail', 'YouTube', 'Chrome', 'Drive', 'Gmail']}

In [64]:
mydict2['HQ'] = 'USA'

In [65]:
mydict2

{'Company': 'Google',
 'HQ': 'USA',
 'Products': ['Gmail', 'YouTube', 'Chrome', 'Drive', 'Gmail']}

Add a new `key:value` pair

In [67]:
mydict2['Industry'] = 'IT'

In [68]:
mydict2

{'Company': 'Google',
 'HQ': 'USA',
 'Products': ['Gmail', 'YouTube', 'Chrome', 'Drive', 'Gmail'],
 'Industry': 'IT'}

In [69]:
mydict2['Founded Yr'] = 1998

In [70]:
mydict2

{'Company': 'Google',
 'HQ': 'USA',
 'Products': ['Gmail', 'YouTube', 'Chrome', 'Drive', 'Gmail'],
 'Industry': 'IT',
 'Founded Yr': 1998}

In [71]:
mydict2[12] = 20 # a dummy key:value pair

In [72]:
mydict2['HQ1'] = None

In [73]:
mydict2

{'Company': 'Google',
 'HQ': 'USA',
 'Products': ['Gmail', 'YouTube', 'Chrome', 'Drive', 'Gmail'],
 'Industry': 'IT',
 'Founded Yr': 1998,
 12: 20,
 'HQ1': None}

### Dictionary Methods

In [74]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

### 1. fromkeys()

In [75]:
# Create a new dictionary with keys from iterable and values set to value.

mylist1 = ['Company', 'HQ', 'Products']
val = 1

dict.fromkeys(mylist1, val)

{'Company': 1, 'HQ': 1, 'Products': 1}

In [76]:
mystr = 'PYTHON'
val = 10
dict.fromkeys(mystr, val)

{'P': 10, 'Y': 10, 'T': 10, 'H': 10, 'O': 10, 'N': 10}

In [86]:
mystr = 'PYTHON'
x = dict.fromkeys(mystr, 10)
x

{'P': 10, 'Y': 10, 'T': 10, 'H': 10, 'O': 10, 'N': 10}

### 2. get()

In [85]:
mydict2['HQ']
mydict2.get('HQ')

'USA'

'USA'

In [79]:
mydict2['HQ2']

KeyError: 'HQ2'

In [80]:
print(mydict2.get('HQ2'))

None

### 3. items(), keys() & values()

In [87]:
mydict2.items()
list(mydict2.items())[1]

dict_items([('Company', 'Google'), ('HQ', 'USA'), ('Products', ['Gmail', 'YouTube', 'Chrome', 'Drive', 'Gmail']), ('Industry', 'IT'), ('Founded Yr', 1998), (12, 20), ('HQ1', None)])

('HQ', 'USA')

In [88]:
mydict2.keys()
list(mydict2.keys())

dict_keys(['Company', 'HQ', 'Products', 'Industry', 'Founded Yr', 12, 'HQ1'])

['Company', 'HQ', 'Products', 'Industry', 'Founded Yr', 12, 'HQ1']

In [89]:
mydict2.values()
list(mydict2.values())

dict_values(['Google', 'USA', ['Gmail', 'YouTube', 'Chrome', 'Drive', 'Gmail'], 'IT', 1998, 20, None])

['Google',
 'USA',
 ['Gmail', 'YouTube', 'Chrome', 'Drive', 'Gmail'],
 'IT',
 1998,
 20,
 None]

### 4. update()

In [90]:
mydict3 = {'Locations': ['USA','India'],
          'Emp_count': '1000+'}

In [91]:
mydict2

{'Company': 'Google',
 'HQ': 'USA',
 'Products': ['Gmail', 'YouTube', 'Chrome', 'Drive', 'Gmail'],
 'Industry': 'IT',
 'Founded Yr': 1998,
 12: 20,
 'HQ1': None}

In [92]:
mydict2.update(mydict3)

In [93]:
mydict2

{'Company': 'Google',
 'HQ': 'USA',
 'Products': ['Gmail', 'YouTube', 'Chrome', 'Drive', 'Gmail'],
 'Industry': 'IT',
 'Founded Yr': 1998,
 12: 20,
 'HQ1': None,
 'Locations': ['USA', 'India'],
 'Emp_count': '1000+'}

### Built-in functions

In [94]:
len(mydict2)

9

In [95]:
# print the 'Student ID' who scored highest marks
mydict4 = {'Student ID': [101,102,103,104,105],
          'Marks': [85,99,95,66,78]}

In [96]:
mydict4['Student ID'][1]

102

In [99]:
# print the 'Student ID' who scored highest marks
mydict4 = {'Student ID': [101,102,103,104,105],
          'Marks': [85,79,95,66,99]}

In [100]:
mydict4['Student ID'][2]

103

In [101]:
# first get the list of marks
mydict4['Marks']

type(mydict4)
type(mydict4['Marks'])

# get the max marks
max(mydict4['Marks'])

type(max(mydict4['Marks']))

mydict4['Marks'].index(95)

# get the index of max marks from the marks list
mydict4['Marks'].index(max(mydict4['Marks']))


# use the above index num code 
mydict4['Student ID'][mydict4['Marks'].index(max(mydict4['Marks']))]

[85, 79, 95, 66, 99]

dict

list

99

int

2

4

105